/* header takes up vertical width and has a height of 30px */
.header {
  height: 20px;
  z-index: 1000;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 10px;
}

.sticky-icon {
  color: white;
  cursor: pointer;
}
